// @media (max-width: 1400px) {
//     .container {
//         max-width: 1140px;
//     }
//     .slider{
//         padding: 90px 0 110px;
//     }
// }

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .slider{
        &__title {
            font-size: 45px;
        }
        &__item {
            width: 225px;
            margin-right: 20px;
            img {
                width: 185px;
            }
        }
        &__item:last-child {
            margin-right: 0;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .slider {
        &__title {
            font-size: 40px;
        }
        &__navigation::after {
            width: 260px;
            left: -300px;
        }
        &__dot {
            left: -300px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
        // overflow: visible;
        position: relative;
    }
    .slider {
        padding: 130px 0 162px;
        &__title {
            text-align: center;
        }
        &__header {
            display: block;
        }
        &__navigation {
            position: absolute;
            bottom: -80px;
            width: 100%;
        }
        &__navigation::after {
            left: 50%;
            transform: translateX(-50%);
        }
        &__dot {
            left: 140px;
        }
        &__item {
            width: 250px;
            img {
                width: 210px;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 280px;
    }
    .slider {
        &__navigation {
            width: 100%;
        }
        &__navigation::after {
            width: 130px;
        }
        &__dot {
            left: 76px;
        }
        &__btn {
            width: 55px;
            height: 55px;
        }
        &__btn::after {
            top: 21px;
            left: 20px;
        }
        &__btn::before {
            bottom: 21px;
            left: 20px;
        }
        &__item {
            width: 280px;
            border: $secondary-color 1px solid;
            img {
                width: 240px;
            }
        }
    }
}